// modal css
.drag {
     &__area {          
          padding:30px;
          display: block;
          cursor: pointer;
          border: 2px dashed #949494;
          border-radius: 8px;
          width: 100%;
          text-align: center;          
          color: inherit;
          &:hover {
               border-color: #0091b9; 
               color: #0091b9;             
          }
          &.active {
               border-color: #008f15;
               color:#008f15 ;
          }
     }
   
   
     &__file {
          display: none;
     }
     &__result {
          text-align: left;     
          width: 100%;
     }

}